---
import type { Page } from "astro";
import { itemPerPage } from "../../web";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import Pagination from "../../components/Pagination.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const releases = await getCollection("blog");
  releases.sort((a, b) => Date.parse(b.data.date.toString()) - Date.parse(a.data.date.toString()));
  return paginate(releases, { pageSize: itemPerPage });
}

type Props = {
  title: string;
  page: Page;
};

// All paginated data is passed on the "page" prop
const { title = "Blog", page } = Astro.props;

const newtitle = title + " page " + page.currentPage;
---

<BaseLayout title={title} description={newtitle}>
  <div
    class="bg-white dark:bg-black my-5 w-full flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0 grow"
  >
    <main class="bg-white dark:bg-black md:w-2/3 lg:w-3/4 px-5 py-4">
      {
        page.data.map(({ slug, data }) => (
          <Card
            date={data.date}
            title={data.title}
            description={data.description}
            image={data.image.src.src}
            link={"/blog/" + slug}
          />
        ))
      }
      <hr class="bg-gray-900 opacity-50"/>
      <Pagination page={page} />
    </main>
    <aside class="bg-green-300 md:w-1/3 lg:w-1/4 px-5 py-4 sticky top-2 h-[100px]">
      <h1 class="text-2xl md:text-4xl">Sidebar</h1>
    </aside>
  </div>
  <Footer />
</BaseLayout>
