---
import { getCollection } from "astro:content";
import Prose from '../../components/Prose.astro';
import Layout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const releases = await getCollection("blog");

  return releases.map((release) => ({
    params: { slug: release.slug },
    props: { release },
  }));
}

const { release } = Astro.props;

const { Content } = await release.render();
---

<Layout {release}>
  <Prose>
    <Content />
  </Prose>
</Layout>
