---
import { ViewTransitions } from "astro:transitions";
import { siteName, siteDescription } from "../web";
import SEO, { type Props as SEOProps } from "./SEO.astro";

export type Props = Partial<SEOProps>;
const {
  title = "Home",
  name = siteName,
  description = siteDescription,
  ...seo
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title ? title + " | " + siteName : siteName}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />

<SEO {title} {description} {name} {...seo} />
<ViewTransitions />
