---
import FormattedDate from "./FormattedDate.astro";
const {
  title,
  description,
  link = "#",
  date,
  image = "https://via.placeholder.com/480",
} = Astro.props;
---

<div class="max-w-xl lg:max-w-full lg:flex mb-4">
  <div
    class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-tl-xl lg:rounded-bl-xl text-center overflow-hidden"
    style={"background-image: url(" + image + ")"}
    title={title}
  >
  </div>
  <div
    class="h-48 w-full border-r border-b border-l border-gray-400 lg:rounded-tr-xl lg:rounded-br-xl lg:border-l-0 lg:border-t lg:border-gray-400 bg-white dark:bg-black rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <svg
          class="feather feather-calendar text-gray-500 w-3 h-3 mr-2"
          fill="none"
          height="20"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          ><rect height="18" rx="2" ry="2" width="18" x="3" y="4"></rect><line
            x1="16"
            x2="16"
            y1="2"
            y2="6"></line><line x1="8" x2="8" y1="2" y2="6"></line><line
            x1="3"
            x2="21"
            y1="10"
            y2="10"></line></svg
        >
        <FormattedDate date={date} />
      </p>
      <div class="text-gray-900 dark:text-gray-400 font-bold text-xl mb-2">
        <a href={link} class="">{title}</a>
      </div>
      <p class="text-gray-700 dark:text-gray-200 text-base">
        {description}
      </p>
    </div>
  </div>
</div>
