---
import { siteName } from "../web";
const yearnow = new Date().getFullYear();

const menus = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Contact",
    href: "/contact",
  },
  {
    label: "Terms Of Conditions",
    href: "/terms-of-conditions",
  },
  {
    label: "Privacy Policy",
    href: "/privacy-policy",
  }
];
---

<footer class="bg-slate-200 dark:bg-slate-900 mt-auto p-5">
  <div
    class="flex flex-col md:flex-row md:justify-between items-center text-sm text-black dark:text-gray-400"
  >
    <p class="order-2 md:order-1 mt-8 md:mt-0">&copy; {siteName}, {yearnow}.</p>
    <div class="order-1 md:order-2">
      {
        menus.map(({ label, href }, index) => (
            <a href={href}>
              <span class={"px-2 "+(index > 0?'border-l border-slate-900 dark:border-slate-200':'')}>{label}</span>
            </a>
        ))
      }
    </div>
  </div>
</footer>
