---
import { RenderTemplateResult } from "astro/runtime/server/render/astro/render-template.js";

const { path, postTitle } = Astro.props;

const list: any = [];
const result = path.replace(/^\/|\/$/g, "").split("/");
const styleLink =
  "flex items-center font-sans text-sm antialiased font-normal leading-normal transition-colors duration-300 cursor-pointer text-blue-gray-900 hover:text-light-blue-500";

function ucwords (str) {
  return (str + '').replace(/^([a-z])|\s+([a-z])/g, function ($1) {
    return $1.toUpperCase();
  });
}

let upper = "/";
for (var i = 0; i < result.length; i++) {
  upper += result[i] + "/";
  list.push({
    title: i=== result.length-1?result[i]:ucwords(result[i]),
    link: i === result.length - 1 ? "" : upper,
    style:
      i === result.length - 1
        ? styleLink.replace("cursor-pointer", "")
        : styleLink
  });
}
---

<nav aria-label="breadcrumb" class="block w-full">
  <ol
    class="flex flex-wrap items-center w-full px-4 py-2 bg-blue-gray-50 dark:bg-gray-500 bg-opacity-60"
  >
    <li
      class="flex items-center font-sans text-sm antialiased font-normal leading-normal transition-colors duration-300 cursor-pointer text-blue-gray-900 hover:text-light-blue-500"
    >
      <div onclick="location.href='/'" class="opacity-60">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
          >
          </path>
        </svg>
    </div>
      <span
        class="mx-2 font-sans text-sm antialiased font-normal leading-normal pointer-events-none select-none text-blue-gray-500"
      >
        /
      </span>
    </li>
    {
      list.map(({ title, link, style }) => (
        <li class={style}>
          {link
            ? <a href={link} class="opacity-60"><span> {title}</span></a>
          <span class="mx-2 font-sans text-sm antialiased font-normal leading-normal pointer-events-none select-none text-blue-gray-500">
            /
          </span>
            : ''}
          {link? '': title}
        </li>
      ))
    }
  </ol>
</nav>
