---
const { page } = Astro.props;

type ListItem = {
  page: number;
  link: string;
  current: boolean;
  blank: boolean;
};

let list: ListItem[] = [];
if (page.lastPage <= 3) {
  for (let i = 0; i < page.lastPage; i++) {
    list.push({
      page: i + 1,
      link: "/blog/" + (i === 0 ? "" : i + 1),
      current: i + 1 === page.currentPage,
      blank: false,
    });
  }
} else if (page.currentPage < 5) {
  // 3 first number
  for (let i = 0; i < page.lastPage; i++) {
    list.push({
      page: i + 1,
      link: "/blog/" + (i === 0 ? "" : i + 1),
      current: i + 1 === page.currentPage,
      blank: false,
    });
    if (page.lastPage < 5) {
      if (i + 1 === 3) break;
    } else {
      if (i + 1 === 4) break;
    }
  }
  if (page.lastPage > 5 && page.currentPage !== page.lastPage) {
    list.push({
      page: 0,
      link: "",
      current: false,
      blank: true,
    });
  }
  list.push({
    page: page.lastPage,
    link: "/blog/" + page.lastPage,
    current: false,
    blank: false,
  });
} else if (page.lastPage > 5 && page.currentPage <= page.lastPage - 3) {
  // mid number
  list.push({
    page: 1,
    link: "/blog/",
    current: false,
    blank: false,
  });

  list.push({
    page: 0,
    link: "",
    current: false,
    blank: true,
  });

  list.push({
    page: page.currentPage - 1,
    link: "/blog/" + (page.currentPage - 1),
    current: false,
    blank: false,
  });

  list.push({
    page: page.currentPage,
    link: "/blog/" + page.currentPage,
    current: true,
    blank: false,
  });

  list.push({
    page: page.currentPage + 1,
    link: "/blog/" + (page.currentPage + 1),
    current: false,
    blank: false,
  });

  list.push({
    page: 0,
    link: "",
    current: false,
    blank: true,
  });

  list.push({
    page: page.lastPage,
    link: "/blog/" + page.lastPage,
    current: false,
    blank: false,
  });
} else if (page.lastPage > 4 && page.currentPage <= page.lastPage) {
  // 4 last number
  let rlist: ListItem[] = [];
  for (let i = page.lastPage; i > page.lastPage - 4; i--) {
    rlist.push({
      page: i,
      link: "/blog/" + i,
      current: i + 1 === page.currentPage + 1,
      blank: false,
    });
  }
  rlist = [...rlist.reverse()];
  list.push({
    page: 1,
    link: "/blog/",
    current: false,
    blank: false,
  });
  if (page.lastPage > 5) {
    list.push({
      page: 0,
      link: "",
      current: false,
      blank: true,
    });
  }

  for (var i = 0; i < rlist.length; i++) {
    list.push(rlist[i]);
  }
}
const stylePageNormal =
  "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white";
const stylePageActive =
  "z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white";
---

<div class="md:container md:mx-auto flex justify-center mt-4">
  <nav aria-label="Page navigation">
    <ul class="flex items-center -space-x-px h-8 text-sm">
      <!-- Prev Button -->
      <li>
        <a
          href={(page.url.prev?page.url.prev:'javascript;;')}
          class={"flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" +
            (page.url.prev === undefined ? " pointer-events-none" : "")}
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
        </a>
      </li>
      {
        list.map((item) => (
          <li>
            <a
              href={item.link ? item.link : undefined}
              aria-current={item.current ? "page" : undefined}
              class={item.current ? stylePageActive : stylePageNormal}
            >
              {item.page === 0 ? "..." : item.page}
            </a>
          </li>
        ))
      }
      <!-- Next Button -->
      <li>
        <a
          href={(page.url.next?page.url.next:'javascript;;')}
          class={"flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" +
            (page.url.next === undefined ? " pointer-events-none" : "")}
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
