---
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";

type Props = HeadProps;

const { ...head } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>

  <body class="bg-white dark:bg-black flex flex-col min-h-screen">
      <Nav {...head} />
    <slot />
  </body>
</html>
