---
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import NavBreadcrumbs from "../components/NavBreadcrumbs.astro";

type Props = HeadProps;

const { ...head } = Astro.props;
let newpath = Astro.url.pathname.replace(/^\/|\/$/g, "").split("/");
newpath.pop();
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>

  <body class="bg-white dark:bg-black flex flex-col min-h-screen">
    <Nav {...head}>
      <NavBreadcrumbs path={newpath + "/" + head.title} />
    </Nav>
    <slot />
  </body>
</html>
