---
import type { CollectionEntry } from "astro:content";
import ContentLayout from "../layouts/ContentLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Footer from "../components/Footer.astro";

type Props = {
  release: CollectionEntry<"blog">;
};

const { release } = Astro.props;
---

<ContentLayout
  title={release.data.title}
  description={release.data.description}
  image={release.data.image}
>
  <div
    class="bg-white dark:bg-black my-5 w-full flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0 grow"
  >
    <main class="bg-white dark:bg-black md:w-2/3 lg:w-3/4 px-5 py-4">
      <FormattedDate date={release.data.date}/>
      <slot />
    </main>
    <aside class="bg-green-300 md:w-1/3 lg:w-1/4 px-5 py-4 sticky top-2 h-[100px]">
      <h1 class="text-2xl md:text-4xl">Sidebar</h1>
    </aside>
  </div>
  <Footer />
</ContentLayout>
